html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#A3A3A3;
}

table {
border-collapse: collapse;
margin-left:15%;
}

a {
text-decoration: none;
color: inherit;
}
form{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: -3%;
}
input{
    width:600px; 
	height:30px; 
    resize:none;
}
textarea{
	width:700px; 
	height:300px; 
    resize:none;
}

.title{
background-color:#F4C782;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50px/50px;
width: 56%;
margin-left:22%;
}
.sideBanner {
position: absolute;
text-align: center;
width: 150px;
height: 230px;
top: 300px;
left:100px;
background-color: gray;
color: black;
}

.side:hover{
background-color:#F4C782;
margin-left:15%;
width: 70%;
border-radius: 50px/30px;
}

.board_list_wrap {
padding: 50px;

}

.board_list {
width: 60%;
}

.board_list td {
padding: 10px;
width: 70%;
font-size: 14px;
}

.board_list td {
text-align: center;
}

.board_list td:nth-child(2) {
    margin-left: 30%;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    font-size: 1.4rem;
    background-color: #A3A3A3;
}
.bt_wrap a.on {
    background:#F4C782;
    color: black;
}