html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#A3A3A3;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea{
    width: 820px; 
    height: 45px; 
    margin-top: 10px;
    margin-left: -5px;
}

button{
    margin-left: 15px; 
    margin-bottom: 5px;
}

comment-head {
    font-size: 20px;
    font-family: Georgia;
    display: inline-block;
    margin-top: 12px;
}

.sideBanner {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 230px;
    top: 300px;
    left:100px;
    background-color: gray;
    color: black;
  }

.side:hover{
    background-color:#F4C782;
    margin-left:15%;
    width: 70%;
    border-radius: 50px/30px;
  }
.board_wrap {
    width: 900px;
    margin-left: 25%;
}

.board_title {
    margin-bottom: 30px;
    text-align: center;
    border-radius: 50px/30px;
    background-color:#F4C782;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid black;
    font-size: 0;
}
.board_view .in {
    padding: 15px;
    border-bottom: 1px solid black;
    font-size: 0;
}
.board_view .info dl {
    position: relative;
    display: inline-block;
    width: 70%;
    padding: 0 20px;
}

.board_view .info dl:nth-child(2) {
    margin-right: -70%;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: black;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}


#form-commentInfo{ 
    width: 180%; 
} 

#comment-count{ 
    margin-bottom: 10px; 
} 

#comment-input{ 
    width: 50%; 
    height: 3.3em; 
} 

#submit{ 
    background-color: gainsboro; 
    width: 5.5em;
    height: 3.3em;
    font-size: 15px; 
    font-weight: bold; 
    color: blue; 
}

#comments-count {
    font-size: 20px; 
    display: inline-block;
}
